<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Guitars{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'content/css/base.css' %}">
    <script src="{% static 'content/js/base.js' %}"></script>

    {% if page == 'homepage' %}
        <link rel="stylesheet" href="{% static 'content/css/homepage.css' %}">
        <script src="{% static 'content/js/homepage.js' %}"></script>
    {% elif page == 'details' %}
        <link rel="stylesheet" href="{% static 'content/css/details.css' %}">
        <script src="{% static 'content/js/details.js' %}"></script>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo" onclick="home()" >
            <img src="{% static 'content/images/guitar-logo.jpg' %}" alt="logo">
        </div>
        {% block header %}
        {% endblock %}
        <div class="admin-button button" onclick="admin()"> Admin </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <a href="https://kytary.cz/" target="_blank" rel="noopener noreferrer">Source</a>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>