<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Guitars{% endblock %}</title>
    <script src="https://klikz.svs.gyarab.cz/hit/27?size=small" defer></script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'content/css/base.css' %}">
    <script src="{% static 'content/js/base.js' %}"></script>

    {% if page == 'homepage' %}
        <link rel="stylesheet" href="{% static 'content/css/homepage.css' %}">
        <script src="{% static 'content/js/homepage.js' %}"></script>
    {% elif page == 'details' %}
        <link rel="stylesheet" href="{% static 'content/css/details.css' %}">
        <script src="{% static 'content/js/details.js' %}"></script>
    {% elif page == 'brand' %}
        <link rel="stylesheet" href="{% static 'content/css/brand.css' %}">
        <script src="{% static 'content/js/brand.js' %}"></script>
    {% elif page == 'genre' %}
        <link rel="stylesheet" href="{% static 'content/css/genre.css' %}">
        <script src="{% static 'content/js/genre.js' %}"></script>
    {% endif %}
    
</head>
<body>
    <header>
        <a class="logo" href="/">
            <img src="{% static 'content/images/guitar-logo.jpg' %}" alt="logo">
        </a>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <a class="source" href="https://kytary.cz/" target="_blank" rel="noopener noreferrer">Source</a>
        <div id="klikz-27"></div>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>