{% extends "content/base.html" %}
{% block header %}
<h1>{{brand.name}}</h1>
{% endblock %}
{% block main %}
<div class="brandpage">
    <div class="brand-description">
        <h2>Information about the brand</h2>
        <p>Country of origin: {{brand.origin}}</p>
        <p> {{brand.info}}</p>
        
    </div>
    {% for guitar in brand.guitar_set.all %}
    <div
    class="guitar-preview"
    onclick= "redirectToDetails({{ guitar.id }})" 
    >
        <h2>{{ guitar.brand }} {{ guitar.model }}</h2>
        <img src="{{ guitar.image }}" alt="{{ guitar.model }}">
        <div class="guitar-price">
            <p>{{ guitar.price }},-</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}