{% extends "content/base.html" %}

{% block header %}
    <div onclick="redirectToBrand({{ guitar.brand.id }})" style="cursor: pointer;">
    <h1> {{guitar.brand}} {{guitar.model}}</h1></a>
    </div>
{% endblock %}

{% block main %}
<div class="details">
    <div class="guitar-image">
        <img src="{{guitar.image}}" alt="{{guitar.model}}">
    </div>
    <div class="guitar-description">
        <h3> Shape: {{guitar.shape}} </h3>
        <h3> Pickups: {{guitar.pickups}} </h3>
        <div class="guitar-genres">
            <h3>Genres:</h3>
            {% for genre in guitar.genre.all %}
            <div class="genre-name" onclick="redirectToGenre({{ genre.id }})" style="cursor: pointer; display: inline-block; margin-right: 10px;">
                <h3>{{ genre.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="guitar-price">
            <p>{{guitar.price}},-</p>
        </div>
        <h3> Description: </h3>
        <p class="description">{{guitar.description}}</p>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}