{% extends "content/base.html" %}

{% block header %}
    <h1>{{guitar.brand}} {{guitar.model}}</h1>
{% endblock %}
{% block main %}
        <img src="{{guitar.image}}" alt="{{guitar.model}}">
        <style>
            img {
                margin-bottom: 1rem;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
        <h2>{{guitar.price}}</h2>
        <p>{{guitar.description}}</p>
        <a href="/">Zpět na úvodní stránku</a>
{% endblock %}