{% extends "content/base.html" %}

{% block header %}
    <a href="/brand/{{ guitar.brand.id }}">
        <h1> {{guitar.brand}} {{guitar.model}}</h1></a>
    </a>
{% endblock %}

{% block main %}
<div class="details">
    <div class="guitar-image">
        <img src="{{guitar.image}}" alt="{{guitar.model}}">
    </div>
    <div class="guitar-description">
        <h3> Shape: {{guitar.shape}} </h3>
        <h3> Pickups: {{guitar.pickups}} </h3>
        <div class="guitar-genres">
            <h3>Genres:</h3>
            {% for genre in guitar.genre.all %}
            <a 
                href="/genre/{{ genre.id }}"
                class="genre-name"
            >
                <h3>{{ genre.name }}</h3>
            </a>
            {% endfor %}
        </div>
        <div class="guitar-price">
            <p>{{guitar.price}},-</p>
        </div>
        <h3> Description: </h3>
        <p class="description">{{guitar.description}}</p>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}