{% extends "content/base.html" %}

{% block header %}

{% comment %}     <div class="filter-menu"> {% endcomment %}
<div class="filter-menu">
        <label class="filter-label" for="pickup-filter"><h2>Filter by pickups:</h2></label>
        <select class="filter" id="pickup-filter" name="pickup" onchange="filterGuitars(this.value)">
            <option value="">All</option>
            {% for pickup in pickups %}
                <option value="{{ pickup }}">{{ pickup }}</option>
            {% endfor %}
        </select>
</div>
<div class="filter-menu">
        <label class="filter-label" for="shape-filter" ><h2>Filter by shape:</h2></label>
        <select class="filter" id="shape-filter" name="shape" onchange="filterGuitars(this.value)">
            <option value="">All</option>
            {% for shape in shapes %}
                <option value="{{ shape }}">{{ shape }}</option>
            {% endfor %}
        </select>
</div>
{% comment %}     </div> {% endcomment %}

{% endblock %}
{% block main %}
<div class="homepage">
{% for guitar in guitars %}
    <a 
        href="/details/{{ guitar.id }}" 
        class="guitar-preview" 
        data-pickup="{{ guitar.pickups }}" 
        data-shape="{{ guitar.shape }}"
    >
    <h2>{{ guitar.brand }} {{ guitar.model }}</h2>
    <div class="img-price">
        <img src="{{ guitar.image }}" alt="{{ guitar.model }}">
        <div class="guitar-price">
            <p>{{ guitar.price }},-</p>
        </div>
    </div>
    </a>
{% endfor %}

    <div class="not-found" style="display: none;">
        <h2>No guitars found</h2>
        <div class="reset-button button" onclick="location.reload()"> Remove all filters </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}