{% extends "content/base.html" %}

{% block header %}

    <div class="filter-menu">
        <label class="filter-label" for="brand-filter">Filter by brand:</label>
        <select class="filter" id="brand-filter" name="brand" onchange="filterGuitars(this.value)">
            <option value="">All</option>
            {% for brand in brands %}
                <option value="{{ brand }}">{{ brand }}</option>
            {% endfor %}
        </select>

        <label class="filter-label" for="pickup-filter">Filter by pickup configuration:</label>
        <select class="filter" id="pickup-filter" name="pickup" onchange="filterGuitars(this.value)">
            <option value="">All</option>
            {% for pickup in pickups %}
                <option value="{{ pickup }}">{{ pickup }}</option>
            {% endfor %}
        </select>

        <label class="filter-label" for="shape-filter" >Filter by shape:</label>
        <select class="filter" id="shape-filter" name="shape" onchange="filterGuitars(this.value)">
            <option value="">All</option>
            {% for shape in shapes %}
                <option value="{{ shape }}">{{ shape }}</option>
            {% endfor %}
        </select>
    </div>

{% endblock %}
{% block main %}
<div class="homepage">
    {% for guitar in guitars %}
    <div
    class="guitar-preview"
    onclick= "redirectToDetails({{ guitar.id }})" 
    data-brand="{{ guitar.brand }}" 
    data-pickup="{{ guitar.pickups }}" 
    data-shape="{{ guitar.shape }}"
    >
        <h2>{{ guitar.brand }} {{ guitar.model }}</h2>
        <img src="{{ guitar.image }}" alt="{{ guitar.model }}">
        <div class="guitar-price">
            <p>{{ guitar.price }},-</p>
        </div>
    </div>
    {% endfor %}
    <div class="not-found" style="display: none;">
        <h2>No guitars found</h2>
        <div class="reset-button button" onclick="location.reload()"> Remove all filters </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}