.genrepage {
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;
    padding: 20px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.genre-description {
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3rem;
    width: auto;
    height: 40rem;
    text-decoration: inherit;
}
.genre-description:hover{
    transform: scale(1.05);
}
.genre-description p {
    font-size: 1.25rem;
}