.homepage {
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(5, auto);*/
  grid-gap: 3rem;
}
.filter-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 5px;
  row-gap: 10px;
  justify-content: center;
  margin: 20px auto;
  margin-top: 0;
  padding: 20px;
  max-width: 800px;
  position: relative;
}

.filter-label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.filter {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter:hover,
.filter:focus {
  border-color: black;
  outline: none;
  background-color: #f8f9fa;
  cursor: pointer;
}
.filter::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.guitar-preview {
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3rem;
  width: auto;
  height: 40rem;
}
.guitar-preview:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.guitar-preview img {
  height: 80%;
  scale: 0.7;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3rem;
  width: 40%;
  height: auto;
}

  .reset-button {
    width: max-content;
    padding: 12px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    cursor: pointer;
}
.guitar-price{
  width: 40%;
}
.guitar-preview h2 {
  margin-top: 0;
}