.brandpage {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 45%, 300px), 1fr));
	gap: 2rem;
	padding: 1rem 3%;
	width: 100%;
	margin: 0 auto;
}

.brand-description {
	max-height: 75vw;
	justify-content: center;
}

.brand-description:hover {
	transform: scale(1.05);
}

.brand-description h2 {
	font-size: clamp(0.5rem, 4vw, 1.75rem);
}

.brand-description p {
	margin: 0;
	font-size: clamp(0.5rem, 3vw, 1.25rem);
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}