.homepage {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 45%, 300px), 1fr));
	gap: min(2vh, 2vw);
	padding: 1rem 3%;
	width: 100%;
	margin: 0 auto;
}

.filter-menu {
	display: block;
  align-items: center;
	justify-content: center;
	text-align: center;
	height: auto;
	width: fit-content;
}

.filter-label {
	font-size: clamp(0.25rem, 2vw, 1rem);
	font-weight: bold;
	display: block;
	margin-bottom: 0.5rem;
}

.filter {
	width: 100%;
	padding: 10px;
	font-size: clamp(0.1rem, 2vw, 1rem);
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: white;
	text-align: center;
	appearance: none;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter:hover,
.filter:focus {
	border-color: black;
	background-color: #f8f9fa;
	cursor: pointer;
	outline: none;
}

.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem auto;
	padding: 2rem;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	width: 90%;
}

.reset-button {
	padding: 12px 40px;
	background-color: #eee;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 1.5rem;
	text-align: center;
	width: 100%;
	max-width: 300px;
}
